.row {
  color: white;
  margin-left: 4%;
  margin-bottom: 2rem;
}

.row__title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0;
  gap: 15px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posters {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.row__poster {
  width: 100%;
  object-fit: cover;
  max-height: 250px;
  border-radius: 4px;
  transition: transform 450ms;
  cursor: pointer;
}

.row__poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

@media (max-width: 768px) {
  .row__poster {
    max-height: 180px;
  }
}
